{% extends 'layout.html' %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container">
<script>
  function confirm_delete(id){
    var resp = confirm(`Do you want to delete Order number ${id}?`);
    if (resp){
      $.ajax({
        url: "/delete_order",
              data: {
                  "id": id
              },
              method: "POST",
      }).done(function(){
       window.location.href = '/orders'});
    }
  }
</script>
  <div class="row">
    <div class="col-12">
      <br>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Discount</th>
            <th scope="col">Gross amount</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{item.ORDER_ID}}</td>
            <td>{{item.ORDER_DATE}}</td>
            <td>{{item.DISCOUNT}}</td>
            <td>{{item.GROSS_AMOUNT}}</td>
            <td>{{item.GAME_NAME}}</td>
            <td>{{item.NET_AMOUNT}}</td>

            <td>
                <button class="btn btn-danger" value="Delete" onclick="confirm_delete({{item.ORDER_ID}})">Delete</button>
             <a href="edit_order?ORDER_ID={{item.ORDER_ID}}" class="btn btn-warning" role="button">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}